h1 {
    font-family: fantasy;
    font-size: 60px;
    text-shadow: 4px 4px 4px lightGray;
}

.header {
    font-family: fantasy;
    font-style: italic;
    text-shadow: 1px 1px 1px gray;
}

.badge {
    height: 100%;
    width: 100%;
    font-style: italic;
    display: flex;
    margin-left: 0.25%;
    max-width: 99.5%;

}

.infoBar {
    font-family: fantasy;
    list-style-type: none;
    display: flex;

}

.infoItemName {
    font-family: fantasy;
    color: white;
    height: 25px;
    width: 50px;
    font-size: 20px;
    margin-right: 15px;
}

.infoItemValue {
    cursor: pointer;
    justify-content: baseline;
    color: lightGray;
    height: 25px;
    width: 50px;
    font-size: 20px;
    margin-right: 15px;
}

.col-4 {
    max-width: 32.5%;
    background-color: gainsboro;
}

.col-8 {
    margin-left: 1%;
    max-width: 65.5%;
}

.btn-outline-light{
    float: left;
    width: 200px;
    height: 50px;
    margin: 1%;
}

.hint{
    font-size: 20px;
    margin: 1%;
    color: white;
    display: inline;
}

span.name {
    color: gainsboro;
    text-decoration: underline;
}